version: 2

updates:
  - package-ecosystem: docker
    directory: /
    schedule:
      interval: daily
    commit-message:
      prefix: build(docker)
    groups:
      docker:
        update-types: [minor, patch]

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    commit-message:
      prefix: ci(github-actions)
    groups:
      github-actions:
        update-types: [minor, patch]

  - package-ecosystem: pip
    directory: /
    schedule:
      interval: daily
    commit-message:
      prefix: build(pip)
    groups:
      pip:
        update-types: [minor, patch]

  - package-ecosystem: uv
    directory: /
    schedule:
      interval: daily
    commit-message:
      prefix: build(uv)
    groups:
      uv:
        update-types: [minor, patch]
