default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

repos:
  - repo: https://github.com/pre-commit/pre-commit
    rev: v3.7.0
    hooks:
      - id: validate_manifest

  - repo: meta
    hooks:
      #   - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      # endings
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix, lf]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext, md]

      # files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: fix-byte-order-marker

      # git
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-vcs-permalinks
      - id: no-commit-to-branch
      - id: forbid-new-submodules

      # python
      - id: check-ast
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: debug-statements
      # - id: double-quote-string-fixer  # conflicts with black
      - id: fix-encoding-pragma
        args: [--remove]
      - id: name-tests-test
        args: [--pytest-test-first]
      # - id: requirements-txt-fixer  # conflicts with poetry

      # configs
      - id: check-json
      - id: pretty-format-json
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      # - id: sort-simple-yaml  # must specify files to check
      #   files: "^$"
      #   args: [--filenames, ""]
      # - id: file-contents-sorter  # must specify files to check
      #   files: "^$"
      #   args: [--filenames, ""]

      # security
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key

  - repo: https://github.com/python-poetry/poetry
    rev: "1.8.0"
    hooks:
      - id: poetry-check

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.3.5
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix-only, --unsafe-fixes]
      - id: ruff-format
        types_or: [python, pyi, jupyter]
